/* Allmän reset för att ta bort standardmarginaler och paddingar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styla header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Styla main */
main {
    padding: 20px;
}

/* Styla formulär */
.container {
    max-width: 600px;
    margin: 0 auto;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top:0.5em;
}

button:hover {
    background-color: #0056b3;
}

#coursesList{
    display:flex;
flex-wrap:wrap;
    align-items: center;
    justify-content: center;
        gap:2em;
    margin-top:1em;
}

/* Styla footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}